/* GENERAL UTILITY STYLING */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(245,245,245);
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

.text-center {
  text-align: center;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

a:hover {
  color: orange;
}

/* CUSTOM STYLING */

.btn-blue {
  background-color: #2D8CCF;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-blue:hover {
  color: white;
  background-color: #1D5F9C;
}

#banner {
  background-image: url('images/background.png');
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  text-align: center;
}

#banner h1 {
  color: white;
  font-size: 35px;
}

#banner p {
  color: white;
  font-size: 25px;
  font-weight: lighter;
  opacity: 0.8;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.card {
  background-color: white;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  border-radius: 3px;
  width: 300px;
  padding: 30px;
  text-align: center;
  margin: 10px auto;
}

.card hr {
  opacity: 0.3;
}

.card img {
  width: 100px;
}

.cards-flex {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

#footer {
  background-color: rgb(60,60,60);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#footer a {
  color: white;
  font-size: 20px;
  margin-right: 20px;
  opacity: .6;
}

#footer a:hover {
  opacity: 1;
  color: white;
}

#footer .fa-heart {
  color: #C3413E;
}

