/* #1A48E3 */
/* #404042 */

body {
  font-family: Overpass;
}

h1, h2, h3 {
  color: #404042;
  font-family: Chivo;
}


p {
  color: #404042;
  opacity: .7;
}

/*img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}
a:hover {
  color: #CE2FAE;
}*/

.container {
  width: 800px;
  margin: auto;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/background.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.banner p {
  color: white;
  font-size: 24px;
}

body {
  margin: 0;
}

.btn {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.btn:hover {
  background-color: #0D1EC6;
  color: white;
}


.card {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;
  flex-grow: 1;
}


.card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card h3 {
  margin-bottom: 0;
}

.footer {
  background: #404042;
  text-align: center;
  padding: 24px 0;
}

.footer p {
  color: white;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 24px;
}

@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}
